<div class="mb3 pa4 mid-gray overflow-hidden">
  <h2 class="f3 near-black">
    <a href="{{ .Permalink }}" class="link black dim">
      {{ .Title }}
    </a>
  </h2>
  ({{ range $index, $element := .Params.platforms }}{{ if $index }}, {{ end }}{{ $element }}{{ end }})
      <p>
    Idiomas: {{ range $index, $element := .Params.languages }}{{ if $index }}, {{ end }}{{ $element }}{{ end }}
  </p>
  <p>
    Géneros: {{ range $index, $element := .Params.genres }}{{ if $index }}, {{ end }}{{ $element }}{{ end }}
  </p>

  {{ if .Date }}
  <div class="f6">
    Fecha de inclusión en la página: {{ .Date.Format "02-01-2006" }}
  </div>
  {{ end }}

  <div class="nested-links f5 lh-copy nested-copy-line-height">
    {{ .Summary }}
    {{ if .Params.web }}
    <a href="{{ .Params.web }}" class="link black dim">Página Oficial de {{ .Title }}</a>
    {{ end }}
    {{ if .Params.descarga }}
    <a href="{{ .Params.descarga }}" class="link black dim">descargar {{ .Title }}</a>
    {{ end }}
  </div>
</div>